html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color: aliceblue;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  margin-left: 100px;
  background: #228a9e;
}

.welcome {
  margin: 0;
  margin-left: 100px;
  width: 600px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sidebar {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

input[type=text] {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  height:40px;
  font-size:18pt;
  color: aliceblue;
  background: transparent;
  border: none;
  border-bottom: 3px solid #006a7e;
  text-align: center;
  width: 100%;
}

input[type=text]:focus {
  outline: none;
}

.button {
  border-radius: 50px;
  background: #228a9e;
  box-shadow: 20px 20px 60px #1d7586, -20px -20px 60px #279fb6;
  width: 100px;
  height: 70px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 15px;
  text-align: center;
  position: relative;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  line-height: 70px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.clicked {
  border-radius: 50px;
  background: #228a9e;
  box-shadow: inset 20px 20px 60px #1d7586, inset -20px -20px 60px #279fb6;
  width: 70px;
  height: 70px;
  border-radius: 15px;
  text-align: center;
  line-height: 70px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}